---

# ----------------------------------------------------------------------------------
# edit this file and rename it to 
#    config.yaml
# ----------------------------------------------------------------------------------

SVG_JS_FILES:

  # ----------------------------------------------------------------------------------
  # The original Font Awesome SVG JS files
  # ----------------------------------------------------------------------------------
  #  IN is the Fontawesome 5 (free or pro) SVG Javascript (all.js or all.min.js) file.
  #  OUT is the minimised treeshaken file
  #
  #  Possible values of $IN are 
  #    /path-to/node_modules/@fortawesome/fontawesome-pro/js/all.js
  #    /path-to/node_modules/@fortawesome/fontawesome-pro/js/all.min.js
  #    https://use.fontawesome.com/releases/v5.14.0/js/all.js
  # ----------------------------------------------------------------------------------

  IN : ./node_modules/@fortawesome/fontawesome-pro/js/all.min.js
  OUT: font-awesome-tree-shaker.js

FIND_DIRS :
 - /path-to/public_html
 - /path-to/js
 - /path-to/templates

FIND_EXTENSIONS :
  - .js
  - .html
  - .shtml

ICONS : 

  # javascript

  - fal comment-alt-lines
  - fal trash-alt
  - fal edit
  - fas external-link-alt
ICONS: 

  # ----------------------------------------------------------------------------------
  # List of icons you want to KEEP
  # ----------------------------------------------------------------------------------

  # from javascript
  - fab twitter
  - fab amazon
  - fal user

  # from templates
  - fal cloud-download-alt
  - fal comment-alt-lines

  # from html
  - fal commenting-o
  - fal comment-alt-lines
  - fal home

  # from maps
  - fal compress
  - fal rectangle-portrait
  - fal rectangle-landscape

